server {
  listen   80;
  server_name  localhost;

  access_log  {{nginx_log_dir}}/default.access.log;

  location / {
    root   {{nginx_default_root}};
    index  index.html index.htm;
  }
}

server {
    return 404;
}